{% if block.settings.show_snow %}
  {% assign location = block.settings.custom_location %}
  {% assign should_render = false %}

  {% if location == '1' and template.name == 'index' %}
    {% assign should_render = true %}
  {% elsif location == '2' and template.name == 'product' %}
    {% assign should_render = true %}
  {% elsif location == '3' and template.name == 'collection' %}
    {% assign should_render = true %}
  {% elsif location == '4' %}
    {% assign should_render = true %}
  {% endif %}

  {% if should_render %}
    <div id="snow"></div>
    <style>
      #snow i{
        color: {{ block.settings.snow-color }};
      }
    </style>
  {% endif %}
{% endif %}
{% schema %}
{
  "name": "Animation Effect",
  "target": "body",
  "stylesheet": "snow.css",
  "javascript": "snow.js",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_snow",
      "default": true,
      "label": "Show Snow"
    },
    {
      "type": "select",
      "id": "custom_location",
      "label": "Custom Location",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "Home Page"
        },
        {
          "value": "2",
          "label": "Product Page"
        },
        {
          "value": "3",
          "label": "Collection Page"
        },
        {
          "value": "4",
          "label": "All Pages"
        }
      ]
    },
    {
      "type": "color",
      "id": "snow-color",
      "label": "Snow Color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}

