{% assign settings = shop.metafields.icemajesty.settings.value %}
{% assign location = settings.custom_location %}
{% assign should_render = false %}

{% if location == 'homepage' and template.name == 'index' %}
  {% assign should_render = true %}
{% elsif location == 'productpage' and template.name == 'product' %}
  {% assign should_render = true %}
{% elsif location == 'collectionpage' and template.name == 'collection' %}
  {% assign should_render = true %}
{% elsif location == 'allpages' %}
  {% assign should_render = true %}
{% endif %}

{% if should_render %}
  <div id="snow" data-type="{{ settings.animation_type | default: 'snowfall' }}" data-count="{{ settings.animation_count | default: 80 }}" data-size="{{ settings.animation_size | default: 30 }}"></div>
{% endif %}

{% schema %}
{
  "name": "Animation Effect",
  "target": "body",
  "stylesheet": "snow.css",
  "javascript": "snow.js",
  "settings": []
}
{% endschema %}
